.fmenu {
  display: flex;
  gap: 22%;

  width: 52%;

  &__title {
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 500;
    line-height: 30px;

    color: #0b132a;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 760px) {
  .fmenu {
    width: 100%;
    gap: 20px;
  
    &__product-list li {
      font-size: 12px;
    }

    &__engage-list li {
      font-size: 12px;
    }

    &__money-list li {
      font-size: 12px;
    }

    &__list {
      gap: 2px;
    }
  }
}
