.nav {
  width: 39.5%;

  &__list {
    display: flex;
    gap: 9%;

    list-style: none;
  }

  &__item {
    color: #4f5665;
  }
}

@media screen and (max-width: 960px) {
  .nav {
    &__list {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    &__item {
      font-size: 30px;
    }
  }
}
