.subscribe {
  display: flex;
  justify-content: space-between;

  padding: 58.5px 70px;

  border-radius: 10px;

  &__info {

  }

  &__heading {
    font-size: 35px;
    font-weight: 500;
    color: #0b132a;
    margin-bottom: 20px;
  }

  &__text {

  }

  &__btn {

  }
}